# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
**/dist
**/build
**/.next
**/.docusaurus

# dependencies
**/node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# testing
/coverage

# misc
.DS_Store
*.pem

# Storybook
storybook-static

# Contentlayer
.contentlayer
.turbo
